body {
  background: linear-gradient(to right, #9c9995, #304352);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100vw;  
}

.app {
  background: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center;
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

input {
  padding: 15px;
  margin: 10px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(100, 99, 99);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

button.submit {
  width:50%;
  height: 50px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  /* From https://css.glass */
  background: rgba(9, 251, 29, 0.606);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 255, 22, 0.3);
}

button.active {
  background-color: rgb(32, 120, 208);
  color: white;
}

.switchContainer {
  width: 260px;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

.switchButton {
  width: 50%;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 2px;
  background-color: white;
  color: gray;
}

